body {
	background-color: #E5E5E5;
	font-family: arial;
	margin: 50px;
}

label {
	display: inline-block;
	width: 100px;
}

input {
	margin: 0;
	padding: 0;
	width: 150px;
}

input[type=range] {
  margin: 0;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]:focus {
  outline: none;
}
